.center__details--slider {
    .service__slider--wrapper {
        .servicecard {
            box-shadow: none;
            border: 1px solid var(--washouse-placeholder-gray);
        }
    }
}

.rating--overall {
    background-color: var(--washouse-primary-blue);
}

.service__slider--tab {
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    &:hover {
        transition: 0.1s all ease-in-out;
        color: var(--washouse-primary-blue);
        border-bottom: 2px solid var(--washouse-primary-blue);
    }
}

.service__slider--active {
    transition: 0.1s all ease-in-out;
    color: var(--washouse-primary-blue);
    border-bottom: 2px solid var(--washouse-primary-blue);
}

.ant-tabs-nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.ant-tabs-tab {
    width: 50%;
    justify-content: center;
}
.ant-tabs {
    &-nav {
        display: flex;

        .ant-tabs-tab {
            flex-grow: 1;
            margin-right: 0px;
            width: 100%;
            text-align: center;
        }
    }
}

.ant-tabs-nav-operations {
    display: none !important;
}
