.nav__searchbar {
    width: 450px;
    height: 55px;
    display: flex;
    form {
        flex-basis: 80%;
        height: 50px;
    }
    input {
        width: 100%;
        height: 50px;
        flex-basis: 80%;
        box-shadow: inset 0 -10px 0px -4px var(--washouse-light-gray);
    }
}

.user__navbar--profile {
    cursor: pointer;
    &:hover {
        color: var(--washouse-primary-blue);
    }
}

.ant-dropdown-menu {
    width: 180px;
    transform: translateX(-24px);
}

// .navbar__dropdown--item {
//     &:hover {
//         color: var(--washouse-primary-blue) !important;
//     }
// }
#logout {
    color: var(--washouse-red);
}