:root {
    --washouse-primary-blue: #396afc;
    --washouse-primary-white: #ffffff;
    --washouse-hover-blue: #0236d1;
    --washouse-light-gray: #f2f3f3;
    --washouse-black: #424242;
    --washouse-gold: #ffc107;
    --washouse-placeholder-gray: #b3b3b3;
    --washouse-green: #019b45;
    --washouse-red: #b60000;
}
.App {
    text-align: center;
    color: var(--washouse-black);
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.text-primary {
    color: var(--washouse-primary-blue);
}

.text-sub {
    color: var(--washouse-black);
}

.text-sub-gray {
    color: var(--washouse-placeholder-gray);
}

.text-sub-lightgray {
    color: var(--washouse-light-gray);
}

.text-red {
    color: var(--washouse-red);
}

.text-green {
    color: var(--washouse-green);
}

.bg-wh-gray {
    background-color: var(--washouse-placeholder-gray);
}
.bg-wh-lightgray {
    background-color: var(--washouse-light-gray);
}

.bg-primary {
    background-color: var(--washouse-primary-blue);
}

.border-wh-gray {
    border-color: var(--washouse-placeholder-gray);
}

.border-wh-lightgray {
    border-color: var(--washouse-light-gray);
}

.border-wh-primary {
    border-color: var(--washouse-primary-blue);
}

.ant-tabs-tab {
    font-size: 16px !important;
}

.ant-tabs-tab.ant-tabs-tab-active {
    font-weight: 500;
}

.wh-link {
    font-weight: 400;
    transition: 0.1s color ease-in-out;
}

.wh-link:hover {
    color: var(--washouse-primary-blue);
}

a {
    font-family: 'Roboto' !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
