#navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    background: var(--washouse-primary-white);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.15);
}

#footer {
    background: var(--washouse-light-gray);
}
